<div id="welcome-modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Choose Your Avatar</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="avatarCarousel" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#avatarCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#avatarCarousel" data-slide-to="1"></li>
            <li data-target="#avatarCarousel" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <%= image_tag 'boy_happy.png', class: 'd-block w-100', alt: 'First slide' %>
            </div>
            <div class="carousel-item">
              <%= image_tag 'girl_happy.png', class: 'd-block w-100', alt: 'Second slide' %>
            </div>
            <div class="carousel-item">
              <%= image_tag 'awesome_happy.png', class: 'd-block w-100', alt: 'Third slide' %>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
      <div class="modal-body hidden" data-spy="scroll" data-target="#navbar-example">
        <% @icons.each do |icon| %>
          <%= render 'icon_goals', icon: icon %>
        <% end %>
      </div>
      <div class="modal-footer">
        <button id="modal-next" type="button" class="btn btn-secondary" >Next</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
      </div>
    </div>
  </div>
</div>